<label>{{ _("Host") }}</label>
<input type="text"
       class="connection_parameter"
       data-connection-parameter="host">

<label>{{ _("Port") }}</label>
<input type="text"
       class="connection_parameter"
       data-connection-parameter="port"
       placeholder="7125">

<label>{{ _("API Key") }}</label>
<input type="text"
       class="connection_parameter"
       data-connection-parameter="apikey">
